files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream nodejs {
        server 127.0.0.1:3000;
      }
 
      server {
        listen 80;
 
        location / {
          proxy_pass http://nodejs;
          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection 'upgrade';
          proxy_set_header Host $host;
          proxy_cache_bypass $http_upgrade;
        }
      }
 
  "/etc/nginx/conf.d/custom_hash.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      types_hash_max_size 2048;
      types_hash_bucket_size 128;
 
container_commands:
  00_test_nginx_config:
    command: "nginx -t"
  01_restart_nginx:
    command: "systemctl restart nginx"
